<%@ taglib uri="http://davidwerth.de/taglib/gp" prefix="gp"%>
<%@ page import="java.util.List"%>
<%@ page import="java.util.Map"%>
<div id="hostname">
	<%
		List<String> servers = (List<String>) request.getAttribute("servers");
		Map<String, List<String>> groupmapping = (Map<String, List<String>>) application.getAttribute("groupmapping");

		if (servers == null) {
			for (String group : groupmapping.keySet()) {
				servers = groupmapping.get(group);
	%>
	<h3><%=group%></h3>

	<%
		for (int i = 0; i < servers.size(); i++) {
	%>
	<gp:hostname server="<%=servers.get(i)%>" />

	<%
		}
			}
		} else {
			for (int i = 0; i < servers.size(); i++) {
	%>
	<gp:hostname server="<%=servers.get(i)%>" />
	<%
		}
		}
	%>
</div>