* {
	font-family: sans-serif;
}

.error {
	background-color: #57baf3;
	border-bottom: 3px solid;
	border-top: 3px solid;
	border-color: #009af3;
	color: #ffffff;
	padding: 5px;
	margin: 10px;
	display: block;
}

.error p {
	margin: 1px;
	padding: 1px;
}


.main {
	position: absolute;
	left: 3%;
	top: 70px;
	right: 3%;
	bottom: 0;
}

@media only screen and (max-width: 991px) {
	#sidebar {
		display:none;
	}
	.main {
		position: absolute;
		left: 0px;
		top: 70px;
		right: 0;
		bottom: 0;
	}
}

@media only screen and (max-width: 767px) {
	body {
		width: 252px;
		padding: 48px 34px 60px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	body {
		width: 436px;
		padding: 36px 22px 48px;
	}
}

#navbar {
	margin: 0px;
	padding: 0px;
	position: fixed;
	display: table;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 10;
	text-align: right;
	position: fixed;
	top: 0;
}

#navbar  span {
	display: table-cell;
	vertical-align: middle;
	margin-right: 1em;
	display: inline-block;
	height: 50px;
}

#navbar  img {
	margin: 5px;
}

.ui-tabs .ui-tabs-nav li {
	height: 25px;
	font-size: 12px;
}

header {
	margin-bottom: 70px;
}

body {
	font-size: 75%;
}

.ul-dotted {
	list-style: circle;
}

table {
	width: 50%;
}

table td {
	text-align:center; 
    vertical-align:middle;
}

.clear {
	clear: both;
}